# datasets
data/
!data/.gitkeep
# trained models
nl2sql/models/*
!nl2sql/models/.gitkeep
# python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# environments
venv/
.env/
.env
# logs
*.log

# App specific
backend/uploads/
backend/.env
frontend/node_modules/
frontend/dist/
*.db
create_sample_db.py
.venv/